<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	
	<filter>
  		<filter-name>FoodItemMenu</filter-name>
		<filter-class>FoodItemFilter</filter-class>
	</filter>
		  
	<filter-mapping>
		<filter-name>FoodItemMenu</filter-name>
  		<url-pattern>/home.jsp</url-pattern>
  	</filter-mapping>
	
	<servlet>
		<description/>
		<servlet-name> StatusServlet </servlet-name>
		<servlet-class> UpdateStatusServlet </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name> StatusServlet </servlet-name>
		<url-pattern> /UpdateStatusServlet </url-pattern>
	</servlet-mapping>
	
  	<filter>
     	<filter-name>MycartItem</filter-name>
     	<filter-class>MycartFilter</filter-class>
  	</filter>
  
  	<filter-mapping>
     	<filter-name>MycartItem</filter-name>
     	<url-pattern>/Mycart.jsp</url-pattern>
  	</filter-mapping>

</web-app>