@charset "UTF-8";

#tc{
	text-align: center;
}

#admin_header {
    display: inline-block;
	margin-left: auto;
	margin-right: auto;
    color: rgb(255, 0, 242);
    padding: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

#admin_header::after {
    content: "";
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border: 5px dotted #0000a0;
    opacity: 0;
    transform: scale(0);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    50% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
}